{% set activeNavLink = activeNavLink|default(this.page.id) %}

<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'home' ? 'active' }}" href="{{ 'index'|page }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'shop' ? 'active' }}" href="{{ 'shop/index'|page }}">Shop</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'account' ? 'active' }}" href="{{ 'account/index'|page }}">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'blog' ? 'active' }}" href="{{ 'blog/index'|page }}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'contact' ? 'active' }}" href="{{ 'contact'|page }}">Contact</a>
</li>
