[location]
==
{% set countryId = countryId|default(post('country_id')) %}
{% set stateId = stateId|default(post('state_id')) %}
{% set stateControlSelector = stateControlSelector|default(post('state_control_selector', 'stateControlSelector')) %}
{% set countries = location.availableCountries|default([]) %}
{% set country = countries.find(countryId)|default(countries.first()) %}
{% set states = country.fetchStates() %}
{% set optionsOnly = post('state_control_selector') %}

{% if optionsOnly %}
    {% for state in states %}
        <option value="{{ state.id }}" {{ state.id == stateId ? 'selected'}}>{{ state.name }}</option>
    {% endfor %}
{% else %}
    <select
        id="{{ stateControlSelector }}"
        name="state_id"
        class="form-select"
    >
        {% for state in states %}
            <option value="{{ state.id }}" {{ state.id == stateId ? 'selected'}}>{{ state.name }}</option>
        {% endfor %}
    </select>
{% endif %}
