##
url = "/shop/checkout"
layout = "default"
title = "Checkout"

[checkout]

[resources]
vars[activeNavLink] = 'shop'
js[] = 'controls/checkout-form.js'
==
{% if not checkout.isCartEmpty %}
    {% for method in allPaymentMethods %}
        {{ method.renderPaymentScripts()|raw }}
    {% endfor %}
    <div id="shopCheckoutView">
        {% partial 'shop/checkout-view' %}
    </div>
{% else %}
    <div class="container container-padded">
        <h1>
            Checkout
        </h1>
        <p>Your shopping cart is empty.</p>
        <a href="{{ 'shop/index'|page }}" class="btn btn-primary btn-pill">
            Continue Shopping
        </a>
    </div>
{% endif %}
