##
url = "/shop/payment/:hash"
layout = "default"
title = "Order"

[payment]
isDefault = 1
==
{% set order = invoice.related %}
{% if not order or not order.order_number %}
    {% do abort(404) %}
{% endif %}
{% put scripts %}
    {% for method in paymentMethods %}
        {{ method.renderPaymentScripts()|raw }}
    {% endfor %}
{% endput %}
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-12 py-5">
            <div class="container">

                <div class="mb-4">
                    <p class="mb-1">Order #{{ order.order_number }}</p>
                    <h2>Thank you for being a customer, {{ order.billing_first_name }}!</h2>
                </div>

                <div class="card mb-2">
                    <div class="card-body">
                        {% if order.is_payment_processed %}
                            <div class="d-flex">
                                <div class="pe-4">
                                    <i class="bi bi-bag-check text-success" style="font-size:32px"></i>
                                </div>
                                <div>
                                    <h5 class="cart-title">Your Order is Confirmed</h5>
                                    <p class="card-text small">We have processed your payment and have accepted your order.</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <div class="pe-4">
                                    <i class="bi bi-clock text-secondary" style="font-size:32px"></i>
                                </div>
                                <div>
                                    <h5 class="cart-title">Your Order is Pending</h5>
                                    <p class="card-text small">Please use a payment method below to complete this order.</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body pb-0">
                        <h5 class="cart-title mb-4">Order Details</h5>
                        <div id="shopOrderDetails">
                            {% partial 'shop/order-details' %}
                        </div>
                    </div>
                </div>

                {% if not order.is_payment_processed %}
                    <div class="card mb-2">
                        <div class="card-body py-3">
                            <h5 class="cart-title m-0">Payment Method</h5>

                            {% if paymentMethods is empty %}
                                <div class="alert alert-light mt-3 mb-0" role="alert">
                                    Sorry, there are no payment methods available.
                                </div>
                            {% endif %}
                        </div>
                        {% if paymentMethods is not empty %}
                            <ul class="list-group list-group-flush">
                                {% for method in paymentMethods %}
                                    <li class="list-group-item list-group-item-action">
                                        <label class="form-check-label d-flex w-100">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                name="payment_method"
                                                value="{{ method.id }}"
                                                data-request="onUpdatePaymentMethod"
                                                data-request-update="{
                                                    'shop/payment-form': '#shopPaymentForm',
                                                    'shop/order-details': '#shopOrderDetails'
                                                }"
                                                {{ order.payment_method_id == method.id ? 'checked' }} />
                                            <div class="ps-1 ms-2">
                                                <p class="mb-0">{{ method.name }}</p>
                                                {% if method.description %}
                                                    <small class="text-muted">{{ method.description }}</small>
                                                {% endif %}
                                            </div>
                                            <div class="small ms-auto fw-bold">
                                                <!-- Payment Provider Logo -->
                                            </div>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div id="shopPaymentForm">
                        {% partial 'shop/payment-form' %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-5 col-12 d-none d-md-block border-start py-5">
            <div class="ps-4" id="shopCheckoutOrderSummary">
                {% partial 'shop/order-summary' items=order.items %}
            </div>
        </div>
    </div>
</div>
