{% set items = cart.listActiveItems %}

{% if items is not empty %}
    <div class="row gx-5">
        <div class="col-md-8">
            <h3>My Cart</h3>
            <div class="mb-3 border-bottom">
                {% partial 'shop/cart-list' %}
                {# <a
                    href="javascript:;"
                    data-request="onUpdateCart"
                    data-request-update="{ 'shop/cart-view': '#cartPartial', 'shop/mini-cart': '#miniCart' }"
                    class="btn btn-dark btn-lg btn-outline">
                    Update Cart
                </a>
                #}
            </div>

            {% partial 'shop/shipping-estimator' %}
        </div>
        <div class="col-md-4">
            <h3>Order Summary</h3>
            {% partial 'shop/cart-summary' %}
        </div>
    </div>
{% else %}
    <p>Your shopping cart is empty.</p>
    <a href="{{ 'shop/index'|page }}" class="btn btn-primary btn-pill">
        Continue Shopping
    </a>
{% endif %}
