{% set items = cart.listActiveItems %}

{% if items is not empty %}
    <div class="row gx-5">
        <div class="col-md-8">
            <h3>My Cart</h3>
            <div class="border-bottom">
                {% partial 'shop/cart-list' %}
            </div>
            <div class="text-end">
                <a
                    href="javascript:;"
                    data-request="onUpdateCart"
                    data-request-update="{ 'shop/cart-view': '#cartPartial', 'shop/mini-cart': '#miniCart' }"
                    class="btn btn-link">
                    <small>Update Cart</small>
                </a>
            </div>
            <div class="mt-3">
                {% partial 'shop/shipping-estimator' %}
            </div>
        </div>
        <div class="col-md-4">
            <h3>Order Summary</h3>
            {% partial 'shop/cart-summary' %}
        </div>
    </div>
{% else %}
    <p>Your shopping cart is empty.</p>
    <a href="{{ 'shop/index'|page }}" class="btn btn-primary btn-pill">
        Continue Shopping
    </a>
{% endif %}
