<div class="card card-product mb-3">
    <div class="card-body text-center">
        {% if category.images %}
            <img class="mb-3 img-fluid" src="{{ category.images.first|resize(0, 120, { mode: 'auto' }) }}" />
        {% else %}
            <img class="mb-3 img-fluid" src="{{ 'assets/images/default-post.png'|theme }}" />
        {% endif %}
        <div class="text-truncate">
            <a href="{{ category.pageUrl('shop/category') }}" class="stretched-link text-inherit text-decoration-none">
                {{ category.name }}
            </a>
        </div>
    </div>
</div>
