{% if not post('showing_options') %}
    <div class="mb-2">
        <i class="bi bi-box"></i>
        <button
            type="button"
            class="btn btn-link ps-1"
            data-bs-toggle="collapse"
            data-bs-target=".estimator-collapse"
        >
            Estimate Shipping Cost
        </button>
    </div>

    <div class="shipping-estimator estimator-collapse collapse">
        <div class="row g-3">
            <div class="col-3">
                {% partial 'account/select-country' %}
            </div>
            <div class="col-3">
                {% partial 'account/select-state' %}
            </div>
            <div class="col-3">
                <input
                    name="zip"
                    type="text"
                    class="form-control"
                    value="{{ address.zip }}"
                    placeholder="Zip Code" />
            </div>
            <div class="col-3">
                <button
                    class="btn btn-primary"
                    data-request="onEstimateShippingRates"
                    data-request-update="{ 'shop/shipping-estimator': '#shippingEstimateOptions' }"
                    data-request-data="{ showing_options: true }"
                    data-attach-loading
                    data-request-flash
                    type="submit">
                    Estimate
                </button>
            </div>
        </div>
    </div>

    <div id="shippingEstimateOptions"></div>
{% else %}
    <div class="py-3">
        {% if availableOptions is not empty %}
            <p>The following shipping options are available:</p>
            <ul class="list-group list-group-flush">
                {% for option in availableOptions %}
                    <li class="list-group-item d-flex justify-content-between small">
                        <div class="me-auto">
                            {{ option.name }}
                        </div>
                        <div>
                            {% if option.isFree %}
                                Free
                            {% else %}
                                {{ option.quote|currency }}
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no shipping options available for your location.</p>
        {% endif %}
    </div>
{% endif %}
