##
url = "/search"
layout = "default"
title = "Search the site"
meta_title = "Search"

[cart]
[catalog]

[collection blog]
handle = "Blog\Post"

[collection wiki]
handle = "Page\Article"

[resources]
vars[activeNavLink] = 'search'
==
{% set searchTerm = get('term')|trim %}
{% put pageTitle=searchTerm ~ ' - Search Results' %}

<div class="container container-padded">
    <header>
        <h1>{{ searchTerm }} - Search Results</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <form class="mb-5">
                <div class="input-group">
                    <div class="form-control-search">
                        <input type="text" name="term" class="form-control" placeholder="Search" value="{{ searchTerm }}">
                        <span class="search-icon"></span>
                    </div>
                </div>
            </form>

            {% set products = catalog.productQuery.searchWhere(searchTerm, ['name', 'description']).paginate(16) %}
            {% if products is not empty %}
                <h2>Products</h2>
                <div class="shop-featured row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3 pb-5">
                    {% for product in products %}
                        {% partial 'shop/product-card' product=product %}
                    {% endfor %}
                </div>
                <nav class="search-pagination" aria-label="Pagination">
                    {{ pager(products, { withQuery: true }) }}
                </nav>
            {% endif %}

        </div>
    </div>
</div>
